<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>

            <div class="row">
                <div class="col-6 offset-3 mt-5">
                    <div class="alert alert-danger" role="alert" style="text-align: center;">
                        <h4 class="alert-heading">
                            A problem occured ...
                        </h4>
                        <h4>
                            <%= err.message %>
                        </h4>
                        <button class="btn btn-secondary btn-lg" style="min-width: 120px;">
                            <a href="/products" style="text-decoration: none;color: white;">All products</a>
                        </button>
                    </div>

                </div>
            </div>


            <%- include('partials/footer') %>