<%- include('partials/head') %>

    <body>
        <div class="container">
            <%- include('partials/navbar') %>
                <h1> Home Page </h1>
                <%- include('partials/footer') %>
        </div>
        <%- include('partials/footer') %>
    </body>