<%- include('partials/head') %>

    <body>
        <div class="container">
            <%- include('partials/navbar') %>

                <div class="card text-dark bg-light mb-3 mx-auto mt-5" style="max-width: 38rem;">
                    <div class="card text-center" style="width: 38rem; ">
                        <div class="card-header"><b>Adding a product ...</b></div>
                        <div class="card-body">

                            <form action="/products" method="POST">
                                <div class="mb-3">
                                    <label for="name" class="form-label mb-2"></label>
                                    <input class="form-control" type="text" id="name" name="name" placeholder="name">

                                    <label for="price" class="form-label"></label>
                                    <input class="form-control" type="number" id="price" name="price"
                                        placeholder="price">
                                </div>
                                <button class="btn btn-success btn-lg">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>


        </div>
        <%- include('partials/footer') %>
    </body>

    </html>